a:hover{
    background-color:lightgray;
    text-decoration: none;
    color: #000;
    
}

.nav-item, 
.nav-link{
    color:#fff;
    
}

.btn-primary{
    color:#fff;
    background-color: #000;
    border-color: #000;

}

.btn-secondary{
    background-color: #000;
    border:#000;
}

.btn-outline-secondary{
    background-color: darkgray;
    color:white;
}


.bg-dark{
    color:#fff;
}